@model CustomerTotalSalesModel

@{
    ViewData["Title"] = $"Customer {Model.Name}";
}

<h2>@ViewData["Title"]</h2>

@{ 
    var totalCars = Model.BoughtCars.Count();
}

<p>
    @totalCars @(totalCars != 1 ? "Cars" : "Car")
</p>
<p>
    $@Model.TotalMoneySpent.ToPrice()
</p>